anyio==4.12.1
asgiref==3.9.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.8.0
cffi==2.0.0
channels==4.3.2
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
Django==4.2.23
django-cors-headers==4.7.0
django-mongoengine==0.5.6
djangorestframework==3.16.1
dnspython==2.7.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
mongoengine==0.29.1
msgpack==1.1.2
packaging==26.0
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pycrdt==0.12.46
pymongo==4.14.1
pyOpenSSL==25.3.0
pytz==2025.2
service-identity==24.2.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.11.0
zope.interface==8.2
